<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Quizz</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <questions-component *ngIf="question; else questionsList" [questions]="questions"></questions-component>
    <ng-template #questionssList>
        <ion-list>
            <ion-item *ngFor="let question of questionss">
                <questions-component [questions]="question" (click)="openquestions(questions)"></questions-component>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>
