<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Questions</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor='let question of questions'>
        <p [innerHTML]="question.category">{{ question.category }}</p>
        <p [innerHTML]="question.question">{{ question.question }}</p>
        <ul *ngFor='let answer of question.answers'>
        	<li [innerHTML]="answer">{{ answer }}</li>
        </ul>
    </div>
    <hr/>
</ion-content>