<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Questions</ion-title>
    </ion-navbar>
</ion-header>

<ion-slides #slides (ionSlideDidChange)="changeSlide()">
    <ion-slide *ngFor='let question of questions'>
        <h4>Difficulty : {{ difficulty }}</h4>
        <br>
        <p>Your score is {{ score }}</p>
        <br>
        <p [innerHTML]="question.question">{{ question.question }}</p>
        <ul *ngFor='let answer of question.answers'>
        	<button ion-button outline [innerHTML]="answer" (click)='checkAnswer(answer, question.correct_answer)'>{{ answer }}</button>
        </ul>
    </ion-slide>
</ion-slides>